#
# THE ONLY IGNORED ITEMS THAT BELONG IN THIS FILE ARE *GLOBALLY* IGNORED PATHS
# AND PATTERNS (LIKE COMPILED FILES). ALL OTHER IGNORED ITEMS SHOULD GO IN
# THE DIRECTORIES WHERE THEY OCCUR.
#

# compiled stuff
__pycache__/
*.egg-info/
*.egg
*.py[cod]
*.so

# IDE stuff
*.iml

# developer env.sh.custom
env.sh.custom

# go shell history
.goshhst

# top-level artifacts directory
/artifacts

# OS junk
.DS_Store
